<div class="container">
    <div class="row">
      {% for i in (1..include.count) %}
        {% assign img_path = "gallery/" | append: include.folder | append: "/" | append: i | append: ".JPG" %}
        {% assign thumbnail_path = "gallery/" | append: include.folder| append: "/thumbnail-" | append: i | append: ".JPG" %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
          <a href="{{ img_path }}" target="_blank">
            <img src="{{ thumbnail_path }}" alt="Image {{ i }}" class="img-fluid">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  