<div class="jumbotron" style="background-image: url('assets/img/home-jumbotron.jpg'); background-size: cover; height: 100vh; margin: 0; padding: 0;">
    <div class="container">
        <h2>LES KARIBOUS</h2>
        <div class="separator"></div>
        <p>Équipe fondée en 2011, nous pronons la simplicité et le plaisir dans la robotique. </p>
        <p>Ne manquez pas nos sessions de création en direct sur Twitch Barbatronic, tous les dimanches à 21h !</p>
        <div class="jumbotron-btn">
            <button onclick="location.href='https://twitter.com/barbatronic'" class="btn btn-sm rounded-pill btn-twitter">
                <i class="fab fa-twitter"></i> Barbatronic
            </button>
            <button onclick="location.href='https://twitter.com/LesKaribous'" class="btn btn-sm rounded-pill btn-twitter">
                <i class="fab fa-twitter"></i> Les Karibous
            </button>
            <button onclick="location.href='https://www.youtube.com/@Barbatronic'" class="btn btn-sm rounded-pill btn-youtube">
                <i class="fab fa-youtube"></i> Youtube
            </button>
            <button onclick="location.href='https://www.twitch.tv/barbatroniclive'" class="btn btn-sm rounded-pill btn-twitch">
                <i class="fab fa-twitch"></i> Barbatronic Live
            </button>
            <button onclick="location.href='https://github.com/LesKaribous'" class="btn btn-sm rounded-pill btn-github">
                <i class="fab fa-github"></i> Nos sources
            </button>
            <button onclick="location.href='mailto:team.karibous@gmail.com'" class="btn btn-sm rounded-pill btn-gmail">
                <i class="fas fa-envelope"></i> Nous contacter
            </button>
        </div>

    </div>
</div>