<div class="card mb-3" style="max-width: auto;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="{{ link_url }}"><img src="{{ link_image }}" class="img-fluid rounded-start" alt="{{ link_title }}"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <a href="{{ link_url }}"><h5 class="card-title">{{ link_title }}</h5></a>
            <p class="card-text">{{ link_description }}</p>
            <a href="{{ link_url }}" class="card-link">Card link</a>
        </div>
      </div>
    </div>
</div>