---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.crop {
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-post-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.crop img {
  width: fit-content;
  height: auto;
  margin: -15% 0 -15% 0;
}

.title-card {
  font-size: 1.9rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitle-card {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 20px;
}

.card {
  background-color: var(--card-bg-color);
}

.fa-robot-link {
  
  background-color: var(--link-robot-bg-color);
  border-radius: 2rem;
  padding: 0.35em;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.25rem;
  color: var(--link-robot-color);
  transition: opacity .5s, transform 0.5s;
  opacity: 0.5;
  
}

.robots-icons a {
  border-bottom: 0px !important;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.jumbotron-image img {
  filter: brightness(50%);
}

.fa-robot-link:hover {
  border-bottom: 0px solid var(--link-underline-color);
  text-decoration: none;
  transition: opacity .5s, transform 0.5s;
	transform: scale(1.0);
  opacity: 1.0;
}

.card-img-top {
  transition: .5s ease;
	transform: scale(1.0);
  opacity: 0.8;
}

.card-img-top:hover {
  transition: .5s ease;
	transform: scale(1.02);
  opacity: 1.0;
}

.modal-content {
  background-color: var(--card-bg-color);
}

/* model-viewer style */

:not(:defined) > * {
  display: none;
}

model-viewer {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.HotspotAnnotation {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}
.Hotspot > * {
  opacity: 1;
  transform: translateY(-100%);
}

.Hotspot[slot="hotspot-hide"]{
    --min-hotspot-opacity: 0;
  }

.Hotspot {
  background: rgb(255, 255, 255);
  border-radius: 32px;
  border: 0px none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.6s ease 0s;
  width: 24px;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}
