---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.crop {
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-post-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.crop img {
  width: fit-content;
  height: auto;
  margin: -15% 0 -15% 0;
}

.title-card {
  font-size: 1.9rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subtitle-card {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 20px;
}

.card {
  background-color: var(--card-bg-color);
}

.fa-robot-link {
  
  background-color: var(--link-robot-bg-color);
  border-radius: 2rem;
  padding: 0.35em;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.25rem;
  color: var(--link-robot-color);
  transition: opacity .5s, transform 0.5s;
  opacity: 0.5;
  
}

.robots-icons a {
  border-bottom: 0px !important;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.jumbotron-image img {
  filter: brightness(50%);
}

.fa-robot-link:hover {
  border-bottom: 0px solid var(--link-underline-color);
  transition: opacity .5s, transform 0.5s;
	transform: scale(1.0);
  opacity: 1.0;
}

.card-img-top {
  transition: .5s ease;
	transform: scale(1.0);
  opacity: 0.8;
}

.card-img-top:hover {
  transition: .5s ease;
	transform: scale(1.02);
  opacity: 1.0;
}