/*
  Style for Sponsors
*/

#sponsors {
  .badge-year-2018 {
    background-color: #1A237E;
    color: #ffffff;
  }
  
  .badge-year-2019 {
    background-color: #283593;
    color: #ffffff;
  }
  
  .badge-year-2020 {
    background-color: #3949AB;
    color: #ffffff;
  }

  .badge-year-2021 {
    background-color: #5C6BC0;
    color: #ffffff;
  }

  .badge-year-2022 {
    background-color: #7986CB;
    color: #ffffff;
  }

  .badge-year-2023 {
    background-color: #9FA8DA;
    color: #1d1d1d;
  }

  .badge-year-2024 {
    background-color: #C5CAE9;
    color: #1d1d1d;
  }

  .badge-year-2025 {
    background-color: #E8EAF6;
    color: #1d1d1d;
  }

  .badge-year-2026 {
    background-color: #263238;
    color: #ffffff;
  }

  .badge-custom {
    padding: 5px 5px;
    font-size: 0.7em;
  }
}
